In [5]:
# imports das bibliotecas
import pandas as pd
import seaborn as sb
import statistics  as sts

In [7]:
#importar o arquivo csv
dataset = pd.read_csv("tempo.csv", sep=";")

#visualizar os dados em tabela
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [9]:
#explorar os dados de acordo com a categória Aparencia
aparencia = dataset.groupby(["Aparencia"]).size()
aparencia

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [11]:
#o menos não se encaixa na tabela, vamos procurar a moda para substituilo
moda = sts.mode(dataset["Aparencia"])
moda

'sol'

In [13]:
#vamos trocar o valor de menos pelo valor de sol! E exibir a quantidade de 'Aparencia' da tabela
dataset.loc[(dataset["Aparencia"] == "menos"), "Aparencia"] = moda
aparencia = dataset.groupby(["Aparencia"]).size()
aparencia

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [15]:
#próxima coluna
dataset["Temperatura"].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [17]:
#o valor máximo é muilto alto, já que a média é de 155 e o máximo esta 1220, temos que substituir o valor máximo pela mediana
mediana = sts.median(dataset["Temperatura"])
mediana

73.5

In [19]:
#primeiramente precisa converter para float 
dataset["Temperatura"] = dataset["Temperatura"].astype(float)

#substitui valores acima de 200 para o valor da mediana (73.5)
dataset.loc[(dataset["Temperatura"] > 200), "Temperatura"] = mediana
dataset["Temperatura"].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [21]:
#eliminando os valores Nan
dataset['Umidade'].isnull().sum()

1

In [23]:
moda = sts.mode(dataset["Umidade"])
moda

70.0

In [25]:
#substituindo os valores Nan pela moda
dataset['Umidade'].fillna(moda, inplace=True)

C:\Users\Gustavo\AppData\Local\Temp\ipykernel_11712\2385950267.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Umidade'].fillna(moda, inplace=True)

In [27]:
dataset['Umidade'].isnull().sum()

0

In [29]:
#substituindo um valor incomun da coluna 'Umidade'
dataset['Umidade']

0      85.0
1      90.0
2      86.0
3      70.0
4      80.0
5      70.0
6      65.0
7      95.0
8      70.0
9     200.0
10     70.0
11     90.0
12     75.0
13     91.0
Name: Umidade, dtype: float64

In [31]:
mediana = sts.median(dataset["Umidade"])
mediana

82.5

In [33]:
#substitui valores igual ou acima de 200 para o valor da mediana (82.5)
dataset.loc[(dataset["Temperatura"] >= 200), "Temperatura"] = mediana
dataset["Temperatura"]

0     85.0
1     80.0
2     83.0
3     70.0
4     68.0
5     65.0
6     64.0
7     73.5
8     69.0
9     75.0
10    75.0
11    72.0
12    81.0
13    71.0
Name: Temperatura, dtype: float64

In [35]:
#Por último a coluna 'Vento'
dataset["Vento"]

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9            NaN
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [37]:
#encontrar a moda da coluna
moda = sts.mode(dataset['Vento'])
moda

'FALSO'

In [39]:
dataset['Vento'].fillna(moda, inplace=True)
dataset['Vento']

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9          FALSO
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [41]:
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     70.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0    200.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao